<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastEnum" version="1.8.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="Microsoft.Unity.Analyzers" version="1.17.0" manuallyInstalled="true" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="R3" version="1.1.12" manuallyInstalled="true" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
  <package id="ZLinq" version="0.9.0" manuallyInstalled="true" />
</packages>