<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MasterMemory" version="1.3.1" manuallyInstalled="true" />
  <package id="MasterMemory.Annotations" version="1.3.1" />
  <package id="MasterMemory.Generator" version="1.3.1" manuallyInstalled="true" />
  <package id="MessagePack" version="2.5.192" />
  <package id="MessagePack.Annotations" version="2.5.192" />
  <package id="MessagePack.Generator" version="2.0.323" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="Microsoft.Unity.Analyzers" version="1.17.0" manuallyInstalled="true" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="R3" version="1.1.12" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="6.0.0" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>